[Desktop Entry]
Name=Epoptes
Name[el]=Επόπτης
Comment=Epoptes computer lab administration tool
Comment[af]=Epoptes rekenaarkameradministrasieprogram
Comment[ar]=أداة إدارة مختبر حواسيب إبوبتس
Comment[bg]=Epoptes - инструмент за администрация на компютърни зали
Comment[ca]=Eina d'administració d'aules d'informàtica Epoptes
Comment[cs]=Nástroj pro správu počítačových laboratoří Epoptes
Comment[da]=Epoptes computerlaboratorieværktøj
Comment[de]=Verwaltungsprogramm für Computerräume
Comment[el]=Λογισμικό διαχείρισης και εποπτείας εργαστηρίου υπολογιστών
Comment[en_AU]=Epoptes computer lab administration tool
Comment[en_GB]=Epoptes computer lab administration tool
Comment[es]=Herramienta de administración del aula de ordenadores
Comment[eu]=Epoptes ordenagailu-laborategiaren kudeaketa-tresna
Comment[fi]=Epoptes – tietokonehuoneen ylläpitotyökalu
Comment[fr]=Outil d'administration de labo informatique Epoptes
Comment[gl]=Ferramenta de administración de aulas de informática Epoptes
Comment[he]=כלי לניהול מחשבי מעבדה – Epoptes
Comment[hu]=Epoptes számítógéplabor-adminisztrációs eszköz
Comment[id]=Epoptes perangkat administrasi lab komputer
Comment[it]=Epoptes strumento di amministrazione di un laboratorio di computer
Comment[ko]=이팝테스 컴퓨터 실험실 관리 도구입니다
Comment[lt]=Epoptes administravimo įrankis
Comment[ms]=Alat pentadbiran makmal komputer Epoptes
Comment[nl]=Epoptes-computerlokaalbeheerprogramma
Comment[oc]=Aisina d'administracion de labo informatic Epoptes
Comment[pl]=Narzędzie do zarządzania komputerami w sieci
Comment[pt]=Ferramenta de administração para laboratório computacional Epoptes.
Comment[pt_BR]=EPOPTES Ferramenta de Administração de Laboratório de Informática
Comment[ro]=Utilitar pentru administrarea laboratorului de informatică
Comment[ru]=Инструмент администрирования компьютерного класса Epoptes
Comment[sk]=Nástroj na správu počítačového laboratória Epoptes
Comment[sl]=Skrbniško orodje računalniškega laboratorija Epoptes
Comment[so]=Epoptes qalab lagu maamulo lab kombuyuutar
Comment[sq]=Mjeti Epoptes për administrim laboratori kompjuterash
Comment[sr]=Алатке управе епоптес рачунарске лабораторије
Comment[sr@latin]=Alatke uprave epoptes računarske laboratorije
Comment[sv]=Epoptes, administrationsverktyg för datorlabb
Comment[tr]=Epoptes bilgisayar laboratuarı yönetim aracı
Comment[uk]=Інструмент для адміністрування комп’ютерних класів Epoptes
Comment[vi]=Công cụ quản lý máy tính trong phòng máy tính Epoptes
Comment[zh_CN]=Epoptes 计算机实验室管理工具
Comment[zh_TW]=Epoptes 電腦教室管理工具
TryExec=epoptes
Exec=epoptes
Icon=epoptes
Terminal=false
Type=Application
Categories=Network;RemoteAccess;
X-Ubuntu-Gettext-Domain=epoptes
